.header{
  width: 100%;
  height: 44px;
  background-color: #333;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* z-index:1; */
  border-bottom: 1px solid #e7e7e7;
  /* box-shadow: 1px 2px 4px #ccc; */
}
.header .h_main{
  width: 100%;
  height: 44px;
  position: relative;
}
.search {
  width: 100%;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  border: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  font-family: Helvetica,  "Microsoft YaHei Light";
  padding-left: 36px;
  -webkit-appearance: textfield;
}
.prepend-mag {
  position: absolute;
  font-family: Helvetica,  "Microsoft YaHei Light";
  padding-left: 8px;
  line-height: 44px;
}


.search:focus {
  background: #fff;
  outline: none;
}

.main-wrapper{
  background-color: #f3f3f3;
  /* padding-top: 40px; */
}

.results {
  height: 100%;
  background-color: #fff;
  position: relative;
}

.result-container{
  width: 100%;
 
}
.bottom-line{
   border-bottom: 1px solid #ccc;
}
.bottom-line:last-child{
  border-bottom: 0;
}

.result-detail{
  width: 100%;
  height: 44px;
}

.detail-text{
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-family: Helvetica,  "Microsoft YaHei Light";
  font-size: 14px;
  outline: none;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.result-info{
  display: none;
  padding: 7px 6px 7px 6px;
}

div.result-info > p:nth-child(1) {
  font-size: 13px;
  color: #EB820B;
}

div.result-info > p:nth-child(2) {
  font-size: 13px;
  color: #0CA82E;
}

.code {
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  padding: 5px 15px;
  padding-left: 35px;
  font-size: 13px;
  border-radius: 30px;
}

.code:focus {
  outline: none;
  border-color: #08c;
}

/* .emoji {
  /* overflow: hidden;
  /*float: left;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 10px;
  font-family: "AppleColorEmoji", "Noto Color Emoji", "EmojiOne Color", sans-serif;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
} */
.emoji:focus{
  background-color: #08c;
  border-color: #08c;
}

.on-preference {
  overflow: hidden;
}

.preference-panel {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 3;
  padding: 20px;
  overflow: auto;
  border-left: 100px solid #f0f0f0;
  box-shadow: inset 1px 0 0 0 #ddd;
}

.pref-item {
  display: block;
  margin-bottom: 20px;
}

.preference-panel label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.preference-panel input {
  padding: 10px 13px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: menlo, monospace;
}

.preference-panel input[type="text"] {
  width: 70%;
}

.preference-panel button {
  border: 0;
  background: #08c;
  color: #fff;
  font-weight: bold;
  padding: 8px 13px;
  border-radius: 3px;
}

.pref-sidebar {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  height: 100%;
  background: #efefef;
  border-right: 1px solid #cfcfcf;
}
